---
http_interactions:
- request:
    method: post
    uri: http://mic-leads.dev-test.makeiteasy.com/api/v1/create?access_token=<LEAD_API_ACCESS_TOKEN>&pAccName=<LEAD_API_PACCNAME>&pGUID=<LEAD_API_PGUID>&pPartner=<LEAD_API_PACCNAME>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"Format errors on validation","errors":["Field ''name''
        isn''t present","Field ''name'' is blank","Field ''name'' wrong format, ''name''
        must be composed with 2 separated words (space between)","Field ''business_name''
        isn''t present","Field ''business_name'' is blank","Field ''telephone_number''
        isn''t present","Field ''telephone_number'' is blank","Field ''telephone_number''
        wrong format (must contain have valid phone number with 11 numbers. string
        max 13 chars)","Field ''email'' isn''t present","Field ''email'' is blank","Field
        ''email'' wrong format"]}'
  recorded_at: Wed, 18 Sep 2019 22:53:50 GMT
recorded_with: VCR 5.0.0
