---
http_interactions:
- request:
    method: post
    uri: http://mic-leads.dev-test.makeiteasy.com/api/v1/create?access_token=<LEAD_API_ACCESS_TOKEN>&business_name=Company%20Ltd&contact_time=2019-09-18%2000:00:00&email=john.doe@example.com&name=John%20Doe&notes=some%20notes&pAccName=<LEAD_API_PACCNAME>&pGUID=<LEAD_API_PGUID>&pPartner=<LEAD_API_PACCNAME>&reference=123&telephone_number=%2B440000000000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"a3647de73f830d5cb5c63d7ccddd62ec"
    body:
      encoding: UTF-8
      string: '{"message":"Enqueue success","errors":[]}'
  recorded_at: Wed, 18 Sep 2019 22:53:50 GMT
recorded_with: VCR 5.0.0
